---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
I am involved in a joint PhD programme with the NIOZ Royal Netherlands Institute for Sea Research and Utrecht Universiteit, supervised by Dr. Matthew Humphreys in the SeaCO2 Group at NIOZ. I am currently on visit at the Institut de la mer de Villefranche (IMEV) as part of the OMTAB team.

My project explores blindspots in the marine carbon cycle with a focus on how the biological carbon pump responds to increasing anthropogenic CO2 emissions, especially in under-sampled regions (i.e. southern Atlantic, Pacific and Indian Oceans). I use scientific programming to investigate already existing datasets (GLODAPv2.2022 and GEOTRACES IDP21) and participate in GEOTRACES field campaigns to collect new measurements. I work mainly in Python.

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD"
      subtitle="2024 - Utrecht Universiteit + Royal Netherlands Institute for Sea Research, Texel, Netherlands"
    />
    <TimeLineElement
      title="MSc"
      subtitle="2018 - McGill University, Montreal, Canada"
    />
  </div>

    <TimeLineElement
      title="BSc"
      subtitle="2016 - Concordia University, Montreal, Canada"
    />
  </div>
